@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: aliceblue;
}